################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/GestoriumAPI_MVP
/GestoriumAPI_Domain/obj
/GestoriumAPI_Domain/bin/Debug/net8.0
/GestoriumAPI_Infrastructure/bin/Debug/net8.0
/GestoriumAPI_Infrastructure/obj
/GestoriumAPI_Services/bin/Debug/net8.0
/obj
